[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bidict = "==0.22.0"
matplotlib = "==3.5.3"
munch = "==2.5.0"
pymongo = "==4.3.2"
requests = "==2.22.0"
selenium = "==3.141.0"
simplejson = "==3.17.6"
webdriver-manager = "==3.8.4"
bibtexparser = "==1.2.0"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
