*.error
*.log
*config.ini
*db_config.ini
*__pycache__
*.env
FAIRsoft/
.qodo
*.log.*
*pem
src/*jsonl
scripts/*jsonl
*json
*csv
*.txt
rs-etl/*
.DS_Store
.pytest_cache
.vscode
venv/
Pipfile
Pipfile.lock
.gitlab-ci.yml