[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = ">=1.5.3"
mkdocs-material = ">=5.4.0"
mkdocstrings = "==0.24.1"
freezegun = "*"
pydantic = {extras = ["email"], version = "*"}
bibtexparser = "*"
tenacity = "*"
tiktoken = "*"
bs4 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
